MONGO_URI='mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>'
POSTGRES='postgresql://<user>:<password>@<host>:<port>/<dbname>'
TELEGRAM_BOT_TOKEN='<your-bot-token>'
TELEGRAM_CHAT_ID='<your-chat-id>'
